*~
*.pyc
*.swp
/dist/
/build/
/live/
/files/default
*.egg-info
.coverage
.noseids
.DS_Store
chef-client-running.pid
chef-stacktrace.out
*.box
*.iso
*.egg
*.log
**/.idea
src/client/env
src/client/build
/node_modules/
